{% load static %}
{% load tentacles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="{% static 'octopus/custom-jquery.js' %}"></script>
    <script src="{% static 'octopus/octopus.js' %}"></script>
</head>
<body>
<nav>
    <li>{% a 'home(replace)' 'body' 'home' multi=False %}</li>
    <li>{% a 'fragment(replace)' '#main' 'fragment' multi=True %}</li>
    <li>{% a 'detail(replace)' '#main' 'detail' 1 title="balls"%}</li>
    <li>{% a 'list(append)' '#main' 'list' insert="append" multi=True %}</li>
    <li>{% a 'archive(prepend)' '#main' 'archive' insert="prepend" %}</li>
    <li>{% a 'create' '#main' 'create' insert="append" %}</li>
    <li>{% a 'update' '#main' 'update' 4 insert="append" %}</li>
    <li>{% a 'delete' '#main' 'delete' 4 insert="replace" %}</li>
    <li>{% a '404(prepend)' '#main' '/asdfdsf/sdfsa/sf' insert="replace" %}</li>
</nav>
<div id="main">
    {% block content %}
        {% block fragment %}Hello {% endblock fragment %}</div>
    {% endblock %}
</body>
<footer>
</footer>

</html>